.App {
  text-align: center;
  justify-items: center;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
}

.search_input {
  display: flex;
  flex-direction: row;
  padding-right: 2em;
}

.row {
  background-color: rgb(216, 206, 206);
}


.table{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

td {
  padding: 0.5em;
  border: 0;
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;

}


.pagination > span {
  border: none;
  padding: 10px ;
  margin-bottom: 20px;
  cursor: pointer;
}

.pagination__selected {
  background-color: rgb(216, 206, 206);
  border-radius: 4px;
}

.save_btn{
  padding: 0.4em;
  margin-right: 5px;
  background-color: rgb(61, 198, 16);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.edit_btn{
  padding: 0.4em;
  margin-right: 5px;
  background-color: rgb(235, 149, 29);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.delete_btn{
  padding: 0.4em;
  margin-right: 5px;
  background-color: rgb(206, 39, 24);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.bottom_div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.dlt_select_btn_not{
  padding: 0.6em;
  background-color: rgb(203, 202, 196);
  color: white;
  cursor: not-allowed;
  border: none;
  border-radius: 4px;
}

.dlt_select_btn{
  padding: 0.6em;
  background-color: rgb(206, 39, 24);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}